HTML {
	scroll-behavior: smooth;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
div{
    text-align: center;
}

.material-icons-round {
    width:25px;
    color: blue;

}

html {
    height: 100%;
}
body {
    height: 100%;
    background: linear-gradient(rgb(88, 176, 248), rgb(79, 253, 102));
      }; 


h1 {
    font-family: 'Shantell sans', ;
    border: 1px solid rgb(134, 247, 124);
    padding: 8 px;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(84, 49, 240);
    
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
#texto_unico {
    color: orange;
    width: 25px;
    border: solid, 1px, blue;
    padding: 15px;
    margin: 30px;
}

font-family: 'Crimson Text', serif;
font-family: 'Sassy Frass', cursive;
font-family: 'Shantell Sans', cursive ;

.material-icons-round {
    width:25px;
    color: blue;

}

body {
        
        height: 100%;
        background: linear-gradient(rgb(88, 176, 248), rgb(79, 253, 102),rgb(88, 176, 248));
          
    font: normal 16px sans-serif;
    padding: 60px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.container-seccion1 {
    
    background-color: #fff;
    color: #35373a;
    min-height: 30vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #050505;
    font-size: 18px;
}


.container-seccion3 {
    
    background-color: #fff;
    color: #35373a;
    min-height: 50vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #050505;
    font-size: 18px;
}

.btn
{
    padding:10px 20 px; 
    background-color: rgb(1, 4, 7); 
    color: white; 
    border-radius: 5px; 
    text-decoration: none;
}
body{
	position:relative;
}


